/*
Student Name: Alexcia Franks
File Name: Chapter 4 Homework
Date: 9/8/26
*/

/*CSS Reset*/
body, header, nav, main, footer{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rules for header*/
header{
    background-color:#ffa500;
}
h1{
    color:rgb(0, 0, 0)
    text-align: center;
}

main{
    background-color: #b37400;
    color: #fff6e6;
}


