/*  
    Student Name: Alexcia Franks
    File Name:: HOT 2
    Date:: 9/15/2026
*/

/* CSS Reset */
body, header, nav, main, footer{
    margin: 0;
    padding: 0;
    border: 0;
}


/* Style rules for Global section */
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F4F4F4;
}

/* Style rules for Header section */
header{
    text-align: center;
    font-style: italic;
    background-color: #0A2342;
    color: white;
}
#hero{
    text-align: center;
}
/* Style rules for navigation section */
.navbar{
    display: float;
    text-align: center;
    justify-content: center;
    padding: 15px;
    font-size: x-large;
}
.navbar a{
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    color: white;
    
}
.navbar{
    background-color:#0A2342;
}
.navbar a:hover{
    color: gray;
}
nav li{
    display: inline-block

}
.img{
    max-width:100%;
    max-height: auto;
    border-radius: 8px;

}
nav ul{
    list-style-type: none;
    margin: 0;
}
nav a{
    text-decoration: none;

}
.about-img{
    float: left;
    width: 300px;
    margin-right: 1.5em;
    border-radius: 10px;
}
/* Style rule for images */
.about2{ 
    width: 100%
    height:auto;
    border-radius: 8px;
}
.img{
    max-width:100%;
    max-height: auto;
    border-radius: 8px;
}
.drink{
    float:right;
    height: fit-content;
    width: 350px;
}
/* Style rules for main content section */
#about{
    text-align: center;

}
.menu-item{
    padding: 20px;
    margin: 15px;
    border: 15px solid black;
}
.location{
    text-decoration: none;
}
.location h4{
    text-align: center;
}

.price{
    font-weight: bold;
}
.menu-item,h4{
    text-align: center;
}
.menu-preview h3,p{
    text-align: center;
}
iframe{
    display: block;
    margin: 0 auto;
    padding-bottom: 4%;
}
/* Style rules for footer section */
footer{
    background-color: black;
    color: white;
    text-align: center;
    clear: both;
}
